# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/

# Pipenv and poetry
Pipfile.lock
poetry.lock

# Test coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# IDE settings
.idea/
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Environment variables
.env
.env.*


node_modules/


